table, th, td {
  border: 1px solid black;
  width: 70vh;
  border-radius: 5px;
}

table {
  overflow-x: auto;
  margin: auto;
  background-color: white;
}

input {
  display: flex;
  margin: auto;
  height: 100%;
  width: 100%;
}

.input-label {
  border: 1px solid black;
  display:grid;
  width: 30%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  input {
    width: auto;
    margin: 5px;
    height: 20px;
  }

  table {
    max-width: 350px;
  }

  .input-label {
    padding: 0;
    display: inline-block;
    width: 200px;
    height: 60px;
  }
}